lab12-jms/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="143e79cc-3de6-4110-ae6f-f52c8a2bda9d" >
		<jms:active-mq-connection />
	</jms:config>
	<flow name="testJMS" doc:id="9f97f6cc-a88b-4ac3-994b-e303a3ae75e2" >
		<jms:listener doc:name="Listener" doc:id="5035090d-00d1-4839-a7a2-1735fa3ac700" config-ref="JMS_Config" destination="testq"/>
		<logger level="INFO" doc:name="Logger" doc:id="0672a4ca-fa76-4a93-bf88-8a6a39dbe8c7" />
	</flow>
	<flow name="testFlow1" doc:id="211ae3a2-b1c7-4d0d-92a3-beea2a111765" >
		<vm:listener doc:name="Listener" doc:id="2d3bf4a5-fe38-43a2-899d-95ff375599e0" />
	</flow>
	<flow name="testFlow" doc:id="88c2308f-804b-4ede-9726-a99a87e52c8d" >
		<http:listener doc:name="POST /jms" doc:id="7e893013-2c83-4dfc-9779-73f24c1e09d4" config-ref="HTTP_Listener_config" path="/jms"/>
		<ee:transform doc:name="Transform Message" doc:id="56a32b3b-69c9-4399-b803-e1e174134990" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<jms:publish doc:name="Publish" doc:id="2c2ead26-dc26-4c56-88a1-87abfcb55aee" config-ref="JMS_Config" destination="testq"/>
		<ee:transform doc:name="Transform Message" doc:id="f11251ff-cb04-4c4f-a8ff-821251c93555" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="testFTP" doc:id="0ff551ad-5177-4157-970c-12537054233e" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="12f24a5a-e3f6-4043-9797-d19fdfecc5af" >
			<scheduling-strategy >
				<fixed-frequency frequency="60" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<ftp:read doc:name="FTP" doc:id="f6242b03-5c82-4801-9184-58fe4a958ba8" path="test/testfile.csv" config-ref="Partner2_FTP_Config"/>
		<logger level="INFO" doc:name="Log Payload" doc:id="7b8da061-7c8c-4725-a85c-c6171f458b11" message='#["\nTest file from FTP In-Memory Server :\n" ++ write(payload,"application/csv")]'/>
	</flow>
	<flow name="testDB" doc:id="2f8bd76a-bd66-4096-a1a5-355be2399867" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="fb946855-affc-4a3a-b1f1-4494f685d691" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" startDelay="5" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<db:select doc:name="Select" doc:id="a03e022c-c914-4f46-b6bc-23a0ff5488b6" config-ref="Partner1_Database_Configuration">
			<db:sql >SELECT * FROM Giftcards</db:sql>
		</db:select>
		<logger level="INFO" doc:name="Log Payload" doc:id="1c89578b-9d24-438c-8d2d-7c6636d8f8e7" message='#["\nTest Payload from Derby In-Memory Database:\n" ++ write(payload,"application/json")]'/>
	</flow>
	
	
	
	
	
	
	</mule>
