lab11-connectors/src/main/mule/oretailplus.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="e2cadc2f-b3d0-4593-866b-9870217b8c3c" >
		<file:connection workingDir="/Users/fcatae/Desktop/study-mule/lab11-connectors/tmp" />
	</file:config>
	<flow name="external_oretailplus" doc:id="33d9456b-7eff-4937-aa2c-e86f56c78959" >
		<http:listener doc:name="POST /online" doc:id="df3af430-3a5c-427b-8d74-e716abdedafb" config-ref="HTTP_Listener_config" path="online"/>
		<set-variable value="#[now() as Number]" doc:name="SetDateTime" doc:id="f2fda6d3-00b2-48bf-a256-5986729f820d" variableName="datetime"/>
		<ee:transform doc:name="Transform Message" doc:id="cb907f93-0759-45f8-8a50-497a64dee2dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	cardNo: payload.card_no,
	amount: payload.amount_granted,
	bankOriginationID: "MULEBANK-0949"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value='#["MULEBANK-oretail-" ++ vars.datetime ++ "-1.csv"]' doc:name="SetFilename" doc:id="b25b6d33-45ac-4fb8-9526-83199786d0c4" variableName="filename"/>
		<logger level="INFO" doc:name="Logger" doc:id="bb66a7f6-8657-435e-9ca2-3e905c51364a" message='#["\nFILENAME: " ++ vars.filename]' />
		<file:write doc:name="Write" doc:id="f85deec6-5105-44ac-a007-dad9fbd9f0ac" path='#["output/" ++ vars.filename]' config-ref="File_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="be6818ac-af68-414a-b3d8-56b334c875f6" />
		<ee:transform doc:name="Transform Message" doc:id="505e8f5a-2969-46b2-ac3f-6f984df74a38" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
