lab11-connectors/src/main/mule/process-visa-gift-cards.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="Visa_File_Config" doc:name="File Config" doc:id="110ceb79-506d-432a-a71b-21b00ae500b1" >
		<file:connection workingDir="${fabricio.visa}" />
	</file:config>
	<flow name="VisaGiftCards" doc:id="e74ddac4-ab31-4ac7-a775-9b30976071c4" >
		<file:listener doc:name="On New or Updated File" doc:id="b5f3fbdb-9d47-41e4-b781-92992352c5a7" config-ref="Visa_File_Config" recursive="false" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<foreach doc:name="For Each" doc:id="bbba319f-9137-4b77-b6d8-017ecec17fcb" >
			<ee:transform doc:name="Transform Message" doc:id="43f8ef79-9a5e-4722-9a28-7626f91b3c9d" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload[0]]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="7625568b-ef1f-4bf9-8106-0094f68d57ef" message='#["payload: " ++ write(payload, "application/json")]'/>
			<choice doc:name="Choice" doc:id="3bc16a71-743c-4dc2-ba01-de393d249066" >
				<when expression='#[payload.partner == "Food and Savings"]'>
					<flow-ref doc:name="Ref Food N Savings" doc:id="fdefe230-f430-46eb-a5f2-a93ea4415be7" name="subflow_Food_N_Savings"/>
				</when>
				<when expression='#[payload.partner == "Meals n Go"]'>
					<flow-ref doc:name="Flow Reference" doc:id="2ad81eff-bef3-4eb5-9b83-b99a01fa2a62" name="subflow_Meals_N_Go"/>
				</when>
				<when expression='#[payload.partner == "Online Retail"]'>
					<flow-ref doc:name="Flow Reference" doc:id="4de96d10-9e6a-4e8a-ae26-06c950b9ec03" name="subflow_Online_Retail_Plus"/>
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Copy_of_Logger" doc:id="1f22c5f4-c5e4-4371-924f-9156203326be" message='UNPROCESSED #[ payload.partner ]' />
				</otherwise>
			</choice>
		</foreach>
	</flow>
	<flow name="subflow_Food_N_Savings" doc:id="5180f1cf-858d-4e91-9c16-2dc93aa7d951" >
		<logger level="INFO" doc:name="Logger" doc:id="3425832f-c4bf-4818-bbce-5544eb977a5e" message='#["\n PROCESSED2 FILE\n"] #[payload]' />
		<flow-ref doc:name="REF foodnsavings Flow" doc:id="72d9ce49-bf2c-42eb-89c5-29d7758e8064" name="external_foodnsavings_insert"/>
	</flow>
	<sub-flow name="subflow_Meals_N_Go" doc:id="423be566-7821-4b8d-ac22-76a8fff7fa35" >
		<logger level="INFO" doc:name="Logger" doc:id="ab0b0bb9-bf6f-4c90-a9f3-4846d388bfe7" message='#["\n PROCESSED FILE\n"] #[payload]' />
		<flow-ref doc:name="Flow Reference" doc:id="e77c030d-7a09-480e-830a-631e5039a561" name="external_meals"/>
	</sub-flow>
	<sub-flow name="subflow_Online_Retail_Plus" doc:id="8843566a-cab6-49f2-af09-92289346c49a" >
		<logger level="INFO" doc:name="Logger" doc:id="ff359764-a6e6-438f-8c8d-b82a7c5d7722" message='#["\n PROCESSED FILE\n"] #[payload]' />
		<flow-ref doc:name="REF online" doc:id="ca3b94e6-3e0a-4eb2-8b20-6801b4599c6f" name="external_oretailplus"/>
	</sub-flow>
</mule>
