lab02-apikit/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="getAccountById" doc:id="ef93b47b-b9dc-443d-9443-01a891b46e24" >
		<db:select doc:name="SELECT &lt;id&gt;" doc:id="37ff0fb8-32d8-48c7-971f-b6cd00ace276" config-ref="Database_Config">
			<db:sql>SELECT * from flights_customers WHERE accountID=:id</db:sql>
			<db:input-parameters><![CDATA[#[{"id": attributes.uriParams.id default "" }]]]></db:input-parameters>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="4c9f5ead-b150-4352-9fdc-ce3487f41f55">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	firstName: (payload01.name! splitBy " ")[0],
	lastName: (payload01.name! splitBy " ")[1],
	country: payload01.country default "",
	id: payload01.accountID,
	postal: payload01.postal default "",
	creationDate: payload01.creationDate as String,
	"type": payload01.accountType default "",
	miles: payload01.miles default 0
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="getAccounts" doc:id="3f5d8a59-fc74-400b-af21-dacdcfbcf62d" >
		<db:select doc:name="SELECT" doc:id="59eba977-ab0e-4ae4-848c-70ae4d2a4104" config-ref="Database_Config">
            <db:sql>SELECT * from flights_customers WHERE accountType=:accountType</db:sql>
            <db:input-parameters><![CDATA[#[{"accountType": attributes.queryParams["type"] }]]]></db:input-parameters>
        </db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="6cbe3678-f653-4c4d-a8e1-d8a1262872e3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	firstName: (payload01.name! splitBy " ")[0],
	lastName: (payload01.name! splitBy " ")[1],
	country: payload01.country default "",
	id: payload01.accountID,
	postal: payload01.postal default "",
	creationDate: payload01.creationDate as String,
	"type": payload01.accountType default "",
	miles: payload01.miles default 0
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
</mule>
