lab08-validation/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<xml-module:config name="XML_Config" doc:name="XML Config" doc:id="3e2c859a-a089-4bae-862c-0d909e2585b0" >
		<xml-module:namespaces >
			<xml-module:namespace prefix="ns2" uri="http://soap.training.mulesoft.com/" />
		</xml-module:namespaces>
	</xml-module:config>
	<flow name="implementationFlow" doc:id="58702002-cbc7-4440-939d-1e1bfbae31ed" >
		<http:listener doc:name="GET /process" doc:id="bc111f51-9d0d-40f0-a1b8-12258309a2ec" config-ref="HTTP_Listener_config" path="/process"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="2774f46d-9609-4803-b363-2e29900cca58" >
			<route >
				<flow-ref doc:name="Accounts" doc:id="5c502ffb-1fe9-4cb9-9f97-b5b8060aa546" name="accounts"/>
			</route>
			<route >
				<flow-ref doc:name="Flights" doc:id="d714f0db-db15-41d0-83c7-eb44034ae3a6" name="flights"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="2e365c69-04e7-4790-b043-586d574ac469" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	accounts: payload[0].payload,
	flights: payload[1].payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="92f1abb6-5968-40e8-b875-fd350697410f" />
		<choice doc:name="Choice" doc:id="346c33d6-0172-48bc-8ae9-db257576a34c" >
			<when expression="#[payload.accounts == [] and payload.flights.listAllFlightsResponse == null]">
				<ee:transform doc:name="account &amp; flights EMPTY" doc:id="e4b02328-c34d-434a-bb3a-61b4dac5ffe0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	message: "BOTH accounts and flights are empty"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="payload.accounts == []">
				<ee:transform doc:name="account EMPTY" doc:id="2a614d9b-a951-4e6a-bdf3-d310ef3577f7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	message: "account EMPTY"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[payload.flights.listAllFlightsResponse == null]">
				<ee:transform doc:name="flights EMPTY" doc:id="1b5bf3a3-608a-4882-be29-a4b2c6594fec" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	message: "flights EMPTY"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="f2bb763f-b4d2-4ec9-8da1-85b40e52bf6f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="accounts" doc:id="ac7a9c11-dc54-409a-b939-0f28af0e9e0d" >
		<http:listener doc:name="HTTP: GET /accounts" doc:id="5237700e-e461-49ff-9925-a9eee436fbb7" config-ref="HTTP_Listener_config" path="/accounts"/>
		<http:request method="GET" doc:name="HTTP: GET /accounts" doc:id="68e3c5e1-4984-4186-af2d-58e3d0ffed67" config-ref="HTTP_Request_Accounts_API" path="${accounts.endpoint}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Requester-ID" : "RJ45"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"type" : "personal"
}]]]></http:query-params>
		</http:request>
		<json:validate-schema doc:name="Validate schema" doc:id="d9ddf101-ee1d-4d1d-b673-7763b4545eb4" schema="schemas/accountsSchema.json"/>
	</flow>
	<flow name="flights" doc:id="dd9ee723-226c-4a97-ae7f-ddc8448f71ce" >
		<http:listener doc:name="HTTP: GET /flights" doc:id="f9103d96-c52a-44fb-9155-87e29a484bbc" config-ref="HTTP_Listener_config" path="/flights">
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="5637303e-7175-4d1a-94a1-03fa10781cbe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: "LAX"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="WSC: Find flights" doc:id="f0118259-8070-4421-8da8-9ae17de4d90e" config-ref="Web_Service_Consumer_Config" operation="findFlight">
		</wsc:consume>
		<logger level="INFO" doc:name="Logger" doc:id="b9009614-0daf-44be-907c-1b4f1fc1e9d7" />
		<ee:transform doc:name="Fake Result" doc:id="bd9c1f8e-6acb-4919-aa79-be0ba5d87dd5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#listAllFlightsResponse: {
		(payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
			return: {
				airlineName: return.airlineName default "",
				code: return.code default "",
				departureDate: return.departureDate default "",
				destination: return.destination default "",
				emptySeats: return.emptySeats default 0,
				origin: return.origin default "",
				planeType: return.planeType default "",
				price: return.price default 0
			}
		})
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="6f6f6e7b-5986-4fde-a7b6-718cffad55ab" >
			<when expression="#[payload.listAllFlightsResponse != null]">
				<xml-module:validate-schema doc:name="Validate schema" doc:id="fa368158-c0e5-429c-ae62-e58aea432a29" schemas="schemas/flightsSchema.xsd" config-ref="XML_Config">
		</xml-module:validate-schema>
			</when>
		</choice>
	</flow>
</mule>
